<!-- COCKTAIL DETAILS -->

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/200x200/?cocktail" alt="Cocktail">
  <div class="card-body">
    <h5 class="card-title"><%= @cocktail.name %></h5>
    <% @cocktail.doses.each do |dose| %>
    <p class="card-text"><%= dose.ingredient.name %><br><%= dose.description %></p>
    <% end %>
    <%= link_to "ADD INGREDIENTS", new_cocktail_dose_path(@cocktail.id), class: "h6" %>
        <tbody>
        <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>
              <!-- LINK TO DELETE INGREDIENTS DOSE -->
              <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
          <!-- DELETE COCKTAIL -->
          <p><%= link_to 'Delete', cocktail_path(@cocktail),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-primary" %></p>
    <p><%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
    <p><%= link_to "Cocktail List", cocktails_path, class: "btn btn-primary" %></p>
    </div>
</div>
